@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150vw;
  padding: 20vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Chefbot-div {
  width: 100%;
  height: 25vw;
  margin: 5%;
  margin-right: 10%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-column{

 
}
.right-column{

}

#aleksi {
  /*background-color: white;*/
  /*opacity: 0.9;*/
  margin-top: 5vw;
  margin-right: 8vw;
  margin-left: 8vw;
}

.gainsboro {
 background-color: gainsboro;
}

.signin {
  float: right;
  margin-right: 25vw;
}


.toggleimage {
  height: 40px;
  width: 40px;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 50px;
  transition: transform .15s;
}

.toggleimage:hover {
  transform: scale(1.3);
}

/* .toggle-a {
  margin-left: 2em;
} */


.margin {margin-bottom: 100px;}

.bg-1 {
  background: url("../resources/static/images/pineapple.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-collapse: collapse;
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

#cheftitle {
font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 95px;
  margin-top: 15vw;
  margin-bottom: 15vw;
}