@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150vw;
  padding: 20vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Chefbot-div {
  width: 100%;
  height: 43vw;
    margin-left: 10px;
  /*margin: 5%;*/

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-column{

 
}
.right-column{

}

#aleksi {
  /*background-color: white;*/
  /*opacity: 0.9;*/
  margin-top: 5vw;
  margin-right: 8vw;
  margin-left: 8vw;
}

.gainsboro {
 background-color: gainsboro;
}

.signin {
  float: right;
  margin-right: 25vw;
}


.toggleimage {
  height: 40px;
  width: 40px;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 50px;
  transition: transform .15s;
}

.toggleimage:hover {
  transform: scale(1.3);
}

/* .toggle-a {
  margin-left: 2em;
} */


.margin {margin-bottom: 50px;}

.bg-1 {
  background: url("../resources/static/images/salad-2068220_1280.jpg");
  /*background: url("../resources/static/images/tomato-2780424_1280.jpg");*/
  background-size: cover;
  background-attachment: fixed;
  /*background-position: center;*/
  border-collapse: collapse;
    margin-top: 0;
}

.bg-2 {
  /*background: url("../resources/static/images/tulips.jpeg");*/
  background-size: cover;
  background-attachment: fixed;
    opacity: 0.8;
    background-color: whitesmoke;
  /*color: #778899;*/
    color: black;
    border-bottom: 1px solid slategrey;
}

.bg-5 {
  background-color: #222222;
  color: white;
}

.bg-4 {
  background: url("../resources/static/images/kukka.jpg");
  background-size: cover;
  background-attachment: fixed;
  /*border-bottom: 1px solid lightslategrey;*/

}

.toggle-home-profile {
  color: white;
    font-family: 'Quicksand', cursive;
    font-size: 15px;
    cursor: pointer;
}

#cheftitle {
font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 135px;
  margin-top: 80px;
  padding-bottom: 4vw;
  margin-right: 42vw;
}

.sidenav {
  width: 450px;
    height: 101vw;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  margin-top: 35px;
    background-color: white;
}


.main {
  margin-left: 400px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#favtitle {
  /*font-family: 'Handlee', cursive;*/
  /*font-family: 'Reenie Beanie', cursive;*/
/*font-family: 'Zeyada', sans-serif;*/
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.testi {
  margin-bottom: 100px;
}


.navbar, nav {
    margin-bottom: 0px;
    margin-right: 18px;
    padding-bottom: 0px;
  background-color: #555965;
  color: white;

}

ul, li {
  color: black;
}

h4 {
  font-style: italic;
}

h5 {
  font-size: 20px;
}

/*Kännykkä*/
@media only screen and (max-width: 450px) {
.wrap {
  width: 100%;
  margin: 0 auto;
}

#main-content, #sidebar-left {
  width: 100%;
  float: left;
}

.Chefbot-div {
  height: 100vw;
}

.bg-2, .bg-1, .bg-6 {
  display: none;
}

.bg-4 {
  margin-top: 10px;
  background: none;
}

#sidebar-left {
  margin-left: 10px;
}
}
/*2 Column Layout*/
@media only screen and (min-width: 1024px) {
  .wrap {
    width: 1024px;
    margin: 0;
  }

  #main-content {
    width: 75%;
    float: right;
      margin-right: 12px;

  }

  #sidebar-left {
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 30px;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 35px;
      opacity: 0.9;
      background-size: cover;
      background-attachment: fixed;
  }

}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
  .wrap {
    width: 1200px;
    margin: 0;
  }
}

.img {
  width:100%;
}

.bg-6 {
  /*background-color: #778899;*/
  /*opacity: 0.8;*/
  background-color: whitesmoke;


}

#recrecipes {
  letter-spacing: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
}



.modal-content {
  width: 100%;
  height: 100%;
}

.modal.open {
  overflow: hidden;
}

.modal {
  width: 38%;
  background: none;
}

a {
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
}




