@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150vw;
  padding: 20vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Chefbot-div {
  width: 100%;
  height: 25vw;
  margin: 5%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-column{

 
}
.right-column{

}

#aleksi {
  /*background-color: white;*/
  /*opacity: 0.9;*/
  margin-top: 5vw;
  margin-right: 8vw;
  margin-left: 8vw;
}

.gainsboro {
 background-color: gainsboro;
}

.signin {
  float: right;
  margin-right: 25vw;
}


.toggleimage {
  height: 40px;
  width: 40px;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 50px;
  transition: transform .15s;
}

.toggleimage:hover {
  transform: scale(1.3);
}

/* .toggle-a {
  margin-left: 2em;
} */


.margin {margin-bottom: 50px;}

.bg-1 {
  background: url("../resources/static/images/salad-2068220_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-collapse: collapse;
}

.bg-2 {
  background-color: white; /* Dark Blue */
  color: #ffffff;
  margin-bottom: 50px;
}

.bg-5 {
  background-color: #222222;
  color: white;
}

.bg-4 {
  background-color: white;
}

.toggle-home-profile {
  color: #5E5E5E;
}

#cheftitle {
font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 140px;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-right: 45vw;
}

.sidenav {
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  opacity: 0.8;
  overflow-x: hidden;
  padding: 8px 0;
  margin-top: 35px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 400px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#favtitle {
  /*font-family: 'Handlee', cursive;*/
  font-family: 'Yatra One', cursive;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.testi {
  margin-bottom: 100px;
}

#storycb {
  font-size: 15px;
}

.navbar, nav {
  background-color: #555965;
  color: white;
}

ul, li {
  color: white;
}



