

@media (min-width: 0) {
    body {
        /*background: url("../resources/static/images/covermobile.jpg");*/
        /*background-color: white;*/
        /*background-size: cover;*/
        /*background-attachment: fixed;*/
        /*background-position: center;*/
        /*border-collapse: collapse;*/
    }
    .row {
        margin:0;
    }
}

@media (min-width: 800px) {
    body {
        /*background: url("../resources/static/images/logincover.jpg");*/
        background-color: white;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        border-collapse: collapse;
    }
}

body {

    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    border-collapse: collapse;
}

.introduction{
    background-color: black;
    opacity: 0.6;
    color:#ffffff;
    text-align: center;
    padding: 15px;
    margin:auto;
    border-radius: 5px 5px 0 0;

}

.signin {
    margin:auto;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 15px;
    width:100%;
    border-radius: 0 0 5px 5px;
}

.picture {
    width: 20%;
    background-color: black;
}

p {
    padding-top: 10px;
}

#fb-button {
    background-color: #4267B2;
    width: 200px;
}

#google-button {
    background-color: #DD4B39;
    width: 200px;
}

/*[class*="col-"] {*/
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    /*background-color: rgba(86, 61, 124, .15);*/
    /*border: 1px solid rgba(86, 61, 124, .2);*/
/*}*/

