#profile{
    margin:auto;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 4%;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    margin-left: 15%;
    margin-right: 15%;
    background: url("../resources/static/images/rakkauskuva.jpg");
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
    border-collapse: collapse;
}
#kuva{
    border-style: solid;

    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.7;
}

.formbutton {
    background-color: #723779
}


