@import url('https://fonts.googleapis.com/css?family=Yatra+One');

body {
    /*background-color: gainsboro;*/

}

.boksi{
    /*background-color: #f7f7f7;*/
    /*border: 2px solid #555965;*/
    padding: 20px;
    margin: 5%;
    margin-left: 30px;
}

.formi {
    margin-top: 100px;
    margin-bottom: 150px;
}

.formi input, button{
    margin-right: 10px;
}

.recipeDiv {
    border: 1px solid white;
    margin-bottom: 50px;
    padding: 14px;
    /*background-color: rgb(224, 235, 235);*/
    /*background-color: white;*/
}

.recipeImage {
    width: 80%;
}

.nameLabel {
    font-family: 'Yatra One', cursive;
    margin-right: 41px;
    font-size: 1.2em;
    color: #778899;
}

.recipeLabel {
    margin-right: 10px;
    font-size: 20px;
}

.testi {
    font-size: 5px;
}

.formbutton {
    background-color: #723779
}