@import url('https://fonts.googleapis.com/css?family=Yatra+One');

body {
    /*background-color: gainsboro;*/

}

.boksi{
    /*background-color: #f7f7f7;*/
    /*border: 2px solid #555965;*/
    padding: 20px;
    margin: 5%;
    margin-left: 30px;
}

.formi {
    margin-top: 20px;
    margin-bottom: 150px;
}


.formi input, button{
    margin-right: 10px;
}

.recipeDiv {
    border: 1px solid white;
    margin-bottom: 50px;
    padding: 14px;
    /*background-color: rgb(224, 235, 235);*/
    /*background-color: white;*/
}

.recipeImage {
    width: 80%;
}

.nameLabel {
    font-family: 'Yatra One', cursive;
    margin-right: 41px;
    margin-bottom: 30px;
    font-size: 35px;
    color: #778899;
}

.recipeLabel {
    margin-right: 10px;
    font-size: 10px;
}

.testi {
    font-size: 5px;
    padding: 10px;
    color: black;
}

.formbutton {
    background-color: #723779
}

.boksi2 {
    font-size: 15px;
}

#ingredient {
    color: black;
}

input[type=text] {
    text-align:center;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    opacity: 0.8;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}