.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150vw;
  padding: 20vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Chefbot-div {
  width: 100%;
  height: 35vw;
  margin: 5%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-column{

 
}
.right-column{

}

.testi {
  background-color: gainsboro;
}

#aleksi {
  background-color: white;
  opacity: 0.9;
  margin-top: 5vw;
  margin-right: 8vw;
  margin-left: 8vw;
}

.gainsboro {
 background-color: gainsboro;
}

.signin {
  float: right;
  margin-right: 8vw;
}

.toggleimage {
  height: 40px;
  width: 40px;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 50px;
  transition: transform .15s;
}

.toggleimage:hover {
  transform: scale(1.3);
}

/* .toggle-a {
  margin-left: 2em;
} */

@media only screen and (max-width: 400px) {
  .signin {
    color: red;
  }

  .left-column {

  }
}
